[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
mypy = "*"
ipython = "*"
zipp = {editable = true, path = "."}

[packages]
typed-argument-parser = "~=1.5.4"
pyyaml = "~=5.3.1"
importlib-metadata = "~=1.7.0"

[requires]
python_version = "3.6"
